body {
  /* margin: 0.5; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}
/* header */
.header{
  background-color: rgb(59, 59, 255);
  margin-bottom: 10px;

}
a{
  position:relative;
  color: black;
  margin-left: 10%;
}
input[type=search]{
float: right ;
margin: 20px;

}
